.container22{

    height: 800px;
    width:1300px;
   margin-top: 80px;
}


.hd2 {

    margin-left: 700px;
}
.forme {
    margin-top: 40px;
    margin-left: 420px;
    width: 350px;
}